/* general styles */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
    --text-color-general: #434455;
    --secondary-accent-color:#F4F4FD ;
    --text-color-for-headers: #2E2F42;
    --text-color-for-headers-on-dark-background: #ffffff;
    --primary-background-color:#ffffff ;
    --dark-background-color:#2E2F42;
    --secondary-background-color:#F4F4FD;
    --primary-button-style:#4D5AE5;
    --primary-button-text: #ffffff;
    --secondary-button-style: #F4F4FD;
    --secondary-button-text:#4D5AE5;
    --accent-color: #4D5AE5;
    --text-color-general-on-dark-background: #E7E9FC;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--text-color-general);
    background-color: var(--primary-background-color);

}

ul {
    list-style: none;
}

a {
    text-decoration-line: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, p, a, ul {
    margin: 0px;
}

.container {
width: 1152px;
margin: 0 auto;
padding: 0 12px;
}

/* header */
    /* logo */
.logo,
.logo-white {
    font-family: Raleway, sans-serif ;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.logo span {
    color: var(--text-color-for-headers);
}

    /* site nav */

.site-nav .link {
    font-weight: 500;

    color: var(--text-color-for-headers)
}

.site-nav .link:visited {
    font-weight: 500;

    color: var(--text-color-for-headers)
}

.site-nav .link:hover,
.site-nav .link:focus {
    font-weight: 500;

    color: var(--text-color-general);
}

.site-nav .link.current {
    font-weight: 500;

    color: var(--accent-color);
}
    /* autorization nav  */
.auto-nav .link {
    color: var(--text-color-general)
}
.auto-nav .link:visited {
    color: var(--text-color-general)
}
.auto-nav .link:hover,
.auto-nav .link:focus {
    color: var(--accent-color)
}

    /* main-studio */

    /* hero */
.hero {
    background-color: var(--dark-background-color) ;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;

    color: var(--text-color-for-headers-on-dark-background);
}

.primary-button {
    display: inline-block;
    padding: 16px 32px;
    border: transparent;
    border-radius: 4px;

    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--primary-button-text);
    background-color: var(--primary-button-style)
}
    
.primary-button:hover,
.primary-button:focus {
    padding: 15px 31px;
    border: 1px solid var(--text-color-general-on-dark-background);

    color: var(--secondary-button-text);
    background-color: var(--secondary-button-style);
    
}

    /* motto (hidden h2)*/

.section-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    color: var(--text-color-for-headers);
}

    /* what we are doing (work) */

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;

    color: var(--text-color-for-headers);
}

    /* our team */

.section-team {
    background-color: var(--secondary-background-color);
    }

.team-member {
    background-color: var(--primary-background-color);
}
/* .heading is in "what we a doing" 
.section-title is in "motto (hidden h2)*/






/* main-portfolio (hidden h2)*/

    /*  radio-buttons */

.portfolio-button {
    display: inline-block;
    padding: 11px 23px;
    border: 1px solid var(--text-color-general-on-dark-background);
    border-radius: 4px;

    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--secondary-button-text);
    background-color: var(--secondary-button-style)
}

.portfolio-button:hover,
.portfolio-button:focus {
    padding: 12px 24px;
    border: transparent;


    color: var(--primary-button-text);
    background-color: var(--primary-button-style)
}

    /* portfolio-elements */

.portfolio-element {
    color: var(--text-color-general)
}

.portfolio-element .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    color: var(--text-color-for-headers)
}

/* footer */

.footer {
    background-color: var(--dark-background-color) ;
}

/* .logo-white is in a "header" */
.logo-white span {
    color: var(--secondary-accent-color);
}

.white-text {
    color: var(--text-color-general-on-dark-background);
}
